extends layout

block content
  .stock-page
    h1 Hello
    p This site doesn't really have an homepage...
    p Are you looking for the <a href='https://github.com/MetisMontessoriLyceum/credly-widget#documentation'>documentation</a>?
