extends widged

block widged_content
    header 
      i.fa.fa-arrow-left
      span CoderClass ranking
    .container
      table.ranking
        for badges,index in badgesOfMembers
          tr.user
            td.rank= index+1
            td.name= badges[0].member.display_name
            td.amount= badges.length
